.main-back-ground {
  margin: auto;
  text-align: center;
  width: 400px;
  height: 100vh;
  background-color: black;
  color: white;
}

.header {
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  .left-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5rem;
    color: white;
  }
  .middle-header {
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: white;
  }
  .right-header {
    display: flex;
    width: 80px;
    justify-content: space-around;
    align-items: center;
    color: white;
  }
}

.budget {
  display: flex;
  flex-flow: column;
  .incomeOutcome {
    display: flex;
    margin-bottom: 10px;
    .income {
      text-align: left;
      padding-left: 10px;
      width: 50%;
      color: white;
      font-size: 1rem;
    }
    .outcome {
      text-align: left;
      padding-left: 10px;
      width: 50%;
      color: white;
      font-size: 1rem;
    }
  }
  .balance {
    text-align: left;
    padding-left: 10px;
    width: 50%;
    color: white;
    font-size: 1rem;
  }
}

.calender {
  background-color: antiquewhite;
  height: 400px;
  .calendarRow1 {
    display: flex;
    height: 17px;
    width: 100%;
    background-color: aquamarine;
    justify-content: space-between;
    .eachDay {
      text-align: center;
      height: 100%;
      width: 100%;
      background-color: black;
      color: grey;
      font-size: 11px;
    }
  }
}

.categories {
  background-color: blue;
  height: 400px;
}

.footer {
  width: 100%;
  height: 51px;
  background-color: purple;
  display: flex;
  justify-content: space-evenly;
  .monthly {
    justify-content: space-around;
    display: flex;
    width: 100%;
    background-color: cadetblue;
    align-items: center;
    text-align: center;
  }
  .weekly {
    justify-content: space-around;
    display: flex;
    width: 100%;
    background-color: saddlebrown;
    align-items: center;
    text-align: center;
  }
  .daily {
    justify-content: space-around;
    display: flex;
    width: 100%;
    background-color: wheat;
    align-items: center;
    text-align: center;
  }
  .setting {
    justify-content: space-around;
    display: flex;
    width: 100%;
    background-color: gold;
    align-items: center;
    text-align: center;
  }
}
// @media (max-width: 768px) {
//   body {
//     background-color: red;
//   }
// }
